
.cart-boton {
    margin-bottom: 76px;
}

.portfol-text-wrapper {
    position: relative;
    overflow: hidden;
}

.portfol-text {
       position: absolute;
       height: 100%;
       left:0px;
       top: 0px;
       padding-left: 21px;
       padding-right: 27px;
       padding-top: 30px;
       padding-bottom: 96px;
       background-color: var(--akcent-title-color);
       font-family: Roboto;
       font-style: normal;
       font-weight: normal;
       font-size: 18px;
       line-height: 28px;
       letter-spacing: 0.03em;
       color:var(--praimary-title-color);
       transform:translateY(100%) ;
       transition: transform 250ms linear;
      
}
.portf-txt-hid:hover .portfol-text {
    transform: translateY(0);
  
} 

.card-set {
          @media screen and (min-width: 768px){
            display: flex;
            flex-wrap: wrap;
            margin: 15px;
         }
    
}

.item {
    width: 100%;
    border: 1px solid #EEEEEE;
   

    @media screen and (min-width: 768px){
        flex-basis: calc(100% / 2 - 30px);
        margin: 15px;
 
    }

    @media screen and (min-width: 1200px){
        flex-basis: calc(100% / 3 - 30px);
}
}

   .cart-shadow:hover, 
   .cart-shadow:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
   }
.rozdilu {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color:var(--four-title-color);
        margin-left: 24px;
   }
   .rozdilu-2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--thri-title-color);
    margin-left: 24px;
    margin-bottom: 20px;
   }