.hero-fon {
  max-width: 1600px;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  
  
     border-color: var(--one-title-color); 
        background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
     url(../images/fon.jpg); 
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;

 
}


      @media (min-device-pixel-ratio: 1),
      (-webkit-min-device-pixel-ratio: 1),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .hero-fon  {
        background-image: url('/images/fon-420.jpg');
      }

      }

      @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .hero-fon  {
        background-image: url('/images/fon-780.jpg');
      }

    }


 
// .hero {
//     display: flex;
//     justify-content: center;
   
// }

.rishenie {
font-weight: 900;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--praimary-title-color);
align-items: center;
margin-left: auto;
margin-right: auto;
margin-bottom: 30px;




 
  @media screen and (min-width: 480px){
      width: 360px;
      font-size: 22px;

}

    @media screen and (min-width: 769px){
      width: 696px;
      font-size: 42px;
      line-height: 1.36;
}
 
}

.background-color {
    background-color: var(--one-title-color);
}



