.priim {

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
  
    
    }
  
    
}
 .priim__item {
   @media screen and (min-width: 768px) {
    width: calc((100% - 60px ) / 2);
    margin: 15px;
   }
    @media screen and (min-width: 1200px) {
        width: calc((100% - 120px ) / 4);
        margin: 15px;
       }
    }

.priim__icon {
    position: absolute;
    width: 70px;
    height: 70px;
    fill: var(--thri-title-color);
    justify-content: center;
}

.priim__link {
    display: flex;
    height: 120px;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #F5F4FA;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

        & + .priim-icon {
             margin-right: 30px;
    }
}

 
// .recl-zag {
//     margin-right: 40px;
// }
// .priimuschestva {
//     display: flex;
//     list-style: none;
// }

.vubor {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--thri-title-color);
    }

.zagolovok {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--four-title-color);
    margin-bottom: 10px;
    }