.zanjatie {
    position: absolute;
    width: 370px;
    height: 70px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color:rgba(47, 48, 58, 0.8);
    color: var(--praimary-title-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    left: 0;
    bottom: 0;
}

.galeri-1 {
    display: flex;
    position: relative;
 
    }

  .works {
    @media screen and (max-width: 1199px){
        display: none;
    }
  }
     
    
.galeri-1:not(:last-child){
    margin-right: 30px; 
}
